PCB_NODE_ENV=development

PCB_API_PORT=3001
PCB_API_HOST=0.0.0.0
PCB_API_PREFIX=api/v1
PCB_FRONTEND_PORT=3000
PCB_API_BASE_URL=http://127.0.0.1:3001/api/v1
NEXT_PUBLIC_PCB_API_BASE_URL=http://127.0.0.1:3001/api/v1

PCB_POSTGRES_HOST=localhost
PCB_POSTGRES_PORT=5432
PCB_POSTGRES_DB=pcb
PCB_POSTGRES_USER=pcb
PCB_POSTGRES_PASSWORD=pcb

PCB_REDIS_HOST=localhost
PCB_REDIS_PORT=6379

PCB_KEYCLOAK_URL=http://localhost:8080
PCB_KEYCLOAK_REALM=pcb
PCB_KEYCLOAK_CLIENT_ID=pcb-backend
PCB_KEYCLOAK_CLIENT_SECRET=change-me

PCB_QGIS_SERVER_URL=http://localhost:8090/cgi-bin/qgis_mapserv.fcgi
